#div1{
    height: 80px;
    background-color: bisque;
    border: 1px solid;
    // display: flex;
    #div2{
        height: 40px;
        border: 1px solid;
        background-color:blueviolet;
    }
}